@font-face {
  font-family: FuturaPTBook;
  src: url(fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: FuturaPTLight;
  src: url(fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: SortsMillGoudy;
  src: url(fonts/SortsMillGoudy-Regular.ttf);
}

html {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(141, 192, 116, .5), rgba(141, 192, 116, .5)), url(images/background_image.jpeg);
  background-size: cover;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: clamp(1000px, 75vw, 1250px);
  height: 80vh;
  background: rgba(38, 68, 42, 1);
  border-radius: 18px;
  filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, .6));
}

