@font-face {
  font-family: FuturaPTBook;
  src: url(fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: FuturaPTLight;
  src: url(fonts/FuturaPTLight.otf);
}

@font-face {
  font-family: SortsMillGoudy;
  src: url(fonts/SortsMillGoudy-Regular.ttf);
}

:root {
  --main-card-bg: rgba(38, 68, 42, 1);
  --action-btn-bg: rgba(113, 183, 46, 1);
  --back-btn-bg: rgba(141, 192, 116, .5);
  --input-bg: rgba(50, 91, 56, 1);
  --invalid-input-bg: rgba(183, 47, 46, .1);
  --input-border: rgba(68, 130, 69, 1);
  --placeholder-text: rgba(179, 179, 179, 1);
  --valid-input-border: rgba(113, 183, 46, 1);
  --invalid-input-border: rgba(255, 29, 37, 1);
  --check-mark-icon: rgba(113, 184, 69, 1);
  --error-icon: rgba(238, 40, 49, 1);
  --alternate-login: rgba(204, 204, 204, 1);
  --password-weak: rgba(200, 25, 25, 1);
  --password-average: rgba(255, 172, 29, 1);
  --password-medium: rgba(231, 229, 21, 1);
  --password-strong: rgba(113, 183, 46, 1);
  --password-gray: rgba(230,, 230, 230, 1);
  --icon-light-green: rgba(141, 192, 116, 1);
  --icon-dark-green: rgba(31, 52, 21, 1);
  --icon-light-red: rgba(192, 129, 116, 1);
  --icon-dark-red: rgba(52, 26, 21, 1);
  --input-height: calc(1.2rem + 1.4vw);
}

html {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(141, 192, 116, .5), rgba(141, 192, 116, .5)), url(images/background_image.jpeg);
  background-size: cover;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  font-family: "FuturaPTLight", sans-serif;
  color: rgba(255, 255, 255, 1);
  width: clamp(800px, 55vw, 1300px);
  padding: 1rem;
  background: var(--main-card-bg);
  border-radius: 1rem;
  filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, .6));
  display: flex;
}
.hero_wrap {
  height: 80vh;
  width: fit-content;
  position: relative;
}

.form_wrap {
  font-family: "FuturaPTLight", sans-serif;
  width: 100%;
  padding: 0 0 0 3rem;
}

#hero-img {
  height: 100%;
  border-radius: .5rem;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .4));
}

.hero_wrap h1 {
  font-family: "SortsMillGoudy", serif;
  width: 8ch;
  font-weight: 100;
  font-size: calc(1.6rem + 1vw);
  line-height: calc(1.2em + 0.5vw);
  position: absolute;
  top: 20%;
  left: calc(30.5% + 0.8vw);
}

.form_wrap h1 {
  letter-spacing: 1px;
  font-size: calc(.5rem + 2vw);
  margin-top: calc(2rem + 1.5vw);
  margin-bottom: 0;
}

#back-btn {
  background: rgba(141, 192, 116, .4);
  color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 8px 0 8px 15px;
  border-style: none;
  position: absolute;
  font-weight: 100;
  bottom: 5%;
  left: calc(32.5% + 0.8vw);
}
 
#back-btn a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

a img {
  width: 10px;
}

.log-in {
  font-size: calc(.3rem + .8vw);
  margin: .8rem 0 calc(1.3rem + 1vw) 0;
}

.log-in a {
  text-decoration: underline;
  color: rgba(113, 183, 46, 1);
}

form {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.input_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.input_wrap > input {
  height: var(--input-height);
  background-color: rgba(50, 91, 56, 1);
  border-style: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  padding-left: 30px;
  flex-grow: 1;
  font-weight: 700;
}

input::placeholder {
  color: rgba(179, 179, 179, 1);
}

input:focus {
  outline: 1px solid rgba(113, 183, 46, 1);
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.input_wrap {
  display: flex;
  position: relative;
  flex-grow: 1;
}

svg {
  position: absolute;
  top: calc((var(--input-height) - 14px) / 2);
  left: 8px;
  height: 15px;
  width: 15px;
}

svg#password {
  height: 17px;
  width: 17px;
}

svg#name {
  height: 14px;
  width: 14px;
}




